<html lang="en">
  <head>
    <%- include("../partials/head"); %>
  </head>
  <body>
    <header><%- include("../partials/headerAuth"); %></header>
    <main class="main">
      <%- include ("../partials/heroAuth"); %>
      <div class="row">
        <h4 class="col-12 text-center mt-5">Hasta pronto <%= name %></h4>
      </div>
      <script>
        setTimeout(function () {
          window.location.replace("http://localhost:8080/");
        }, 5000);
      </script>
    </main>
  </body>
</html>
