<header>
  <!-- Nav de Bootstrap -->
  <nav class="navbar navbar-expand-lg fixed-top header--nav">
    <div class="container-fluid">
      <a href="/">
        <img
          class="navbar-brand animate__animated animate__fadeIn"
          src="/assets/img/logoChico.png"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse linksNav" id="navbarNav">
        <ul
          class="navbar-nav w-100 justify-content-around animate__animated animate__fadeIn"
        >
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/products"
              >Tienda</a
            >
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Categorías
            </a>
            <ul class="dropdown-menu">
              <li>
                <a
                  class="dropdown-item"
                  href="http://localhost:8080/products/category/guitarras"
                  >Guitarras</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  href="http://localhost:8080/products/category/bajos"
                  >Bajos</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  href="http://localhost:8080/products/category/teclados"
                  >Teclados</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  href="http://localhost:8080/products/category/baterias"
                  >Baterías</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  href="http://localhost:8080/products/category/estudio"
                  >Estudio</a
                >
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/chat">Chat</a>
          </li>
          <li class="nav-item nav-itemCarrito">
            <a
              class="nav-link animate__animated animate__fadeIn carritoIconCaja"
              href="/cart"
            >
              <img
                src="/assets/img/carrito/carrito.png"
                alt=""
                class="carritoIcon"
              />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
