<% if (products.length > 0) { %>
<table id="<%= cartId.toString() %>" name="cart" class="table">
  <thead class="thead-dark">
    <tr>
      <th class="columnaImagen" scope="col"></th>
      <th scope="col">Nombre</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Subtotal</th>
      <th scope="col">Quitar</th>
    </tr>
  </thead>
  <tbody class="tbody">
    <% products.forEach(function(product){ %> <%- include("./cartProduct",
    {product:product}) %> <% }); %>
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col">Total</th>
      <th scope="col">$</th>
      <th scope="col"></th>
    </tr>
  </tbody>
</table>
<% } else { %>
<h2>No tenés productos en tu carrito</h2>
<a class="btn btn-primary" href="/products">Ir a tienda</a>
<% } %>
